<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">默认展开</a>
        <dl class="layui-nav-child">
            <dd><a data-type="tabAdd" lay-id="1" data-page="detail" href="javascript:;">选项一</a></dd>
            <dd><a data-type="tabAdd" lay-id="2" href="javascript:;">选项二</a></dd>
            <dd><a data-type="tabAdd" lay-id="3" href="javascript:;">选项三</a></dd>
            <dd><a data-type="tabAdd" lay-id="4" href="#">跳转项</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a data-type="tabAdd" lay-id="5" data-page="detail" href="javascript:;">222222</a></dd>
            <dd><a data-type="tabAdd" lay-id="6" href="javascript:;">3333333333</a></dd>
            <dd><a data-type="tabAdd" lay-id="7" href="javascript:;">444444444</a></dd>
            <dd><a data-type="tabAdd" lay-id="8" href="#">555555555</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">云市场</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
</ul>
